* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 15px 20px;
    margin: 0px;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(199, 199, 199);
    border-style: solid;
}

.topnav .logo img{
    height: 60px;
}

.topnav .menu a{
    font-size: 15px;
    font-weight: bold;
    margin: 15px;
    color: black;
    text-decoration: none;
}

.topnav .menu .menu_button{

    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    padding: 5px;

}